{% extends 'main/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block title %}OnlineShop{% endblock %}
{% block head %} {% endblock %}

{% block body %}

<section>
    <img src="{% static 'main/images/Prototype1.png' %}" alt="" class="w-100">
</section>
<section>
    <h3>Топ продажу</h3>
    <div class="d-flex flex-row p-2">
        <div class="product-card d-flex flex-column justify-content-center align-items-center">
            <div class="product-image">
                <img src="{% static 'main/images/product-card.png' %}" alt="">
            </div>
            <div>
                <h3 class="fw-bold">Саломон сет</h3>
                <h5 class="mt-3 text-secondary fw-light">1050 грамм, 30 кусочков</h5>
                <hr>
            </div>
            <div class="d-flex flex-row justify-content-between w-100">
                <p class="mt-2 ms-2 fw-bold fs-4">1500 грн.</p>
                <button class="btn btn-warning m-2 buy-button">Хочу!</button>
            </div>
        </div>
        <div class="product-card d-flex flex-column justify-content-center align-items-center ms-5">
            <div class="product-image">
                <img src="{% static 'main/images/product-card.png' %}" alt="">
            </div>
            <div>
                <h3 class="fw-bold">Саломон сет</h3>
                <h5 class="mt-3 text-secondary fw-light">1050 грамм, 30 кусочков</h5>
                <hr>
            </div>
            <div class="d-flex flex-row justify-content-between w-100">
                <p class="mt-2 ms-2 fw-bold fs-4">1500 грн.</p>
                <button class="btn btn-warning m-2 buy-button">Хочу!</button>
            </div>
        </div>
        <div class="product-card d-flex flex-column justify-content-center align-items-center ms-5">
            <div class="product-image">
                <img src="{% static 'main/images/product-card.png' %}" alt="">
            </div>
            <div>
                <h3 class="fw-bold">Саломон сет</h3>
                <h5 class="mt-3 text-secondary fw-light">1050 грамм, 30 кусочков</h5>
                <hr>
            </div>
            <div class="d-flex flex-row justify-content-between w-100">
                <p class="mt-2 ms-2 fw-bold fs-4">1500 грн.</p>
                <button class="btn btn-warning m-2 buy-button">Хочу!</button>
            </div>
        </div>
    </div>
    
    
</section>
<section>
    <h3>Новинки</h3>
    <div class="d-flex flex-row p-2">
        <div class="product-card d-flex flex-column justify-content-center align-items-center">
            <div class="product-image">
                <img src="{% static 'main/images/product-card.png' %}" alt="">
            </div>
            <div>
                <h3 class="fw-bold">Саломон сет</h3>
                <h5 class="mt-3 text-secondary fw-light">1050 грамм, 30 кусочков</h5>
                <hr>
            </div>
            <div class="d-flex flex-row justify-content-between w-100">
                <p class="mt-2 ms-2 fw-bold fs-4">1500 грн.</p>
                <button class="btn btn-warning m-2 buy-button">Хочу!</button>
            </div>
        </div>
        <div class="product-card d-flex flex-column justify-content-center align-items-center ms-5">
            <div class="product-image">
                <img src="{% static 'main/images/product-card.png' %}" alt="">
            </div>
            <div>
                <h3 class="fw-bold">Саломон сет</h3>
                <h5 class="mt-3 text-secondary fw-light">1050 грамм, 30 кусочков</h5>
                <hr>
            </div>
            <div class="d-flex flex-row justify-content-between w-100">
                <p class="mt-2 ms-2 fw-bold fs-4">1500 грн.</p>
                <button class="btn btn-warning m-2 buy-button">Хочу!</button>
            </div>
        </div>
        <div class="product-card d-flex flex-column justify-content-center align-items-center ms-5">
            <div class="product-image">
                <img src="{% static 'main/images/product-card.png' %}" alt="">
            </div>
            <div>
                <h3 class="fw-bold">Саломон сет</h3>
                <h5 class="mt-3 text-secondary fw-light">1050 грамм, 30 кусочков</h5>
                <hr>
            </div>
            <div class="d-flex flex-row justify-content-between w-100">
                <p class="mt-2 ms-2 fw-bold fs-4">1500 грн.</p>
                <button class="btn btn-warning m-2 buy-button">Хочу!</button>
            </div>
        </div>
</section>
<section>
    <h3>Популярне</h3>
    <div class="d-flex flex-row p-2">
        <div class="product-card d-flex flex-column justify-content-center align-items-center">
            <div class="product-image">
                <img src="{% static 'main/images/product-card.png' %}" alt="">
            </div>
            <div>
                <h3 class="fw-bold">Саломон сет</h3>
                <h5 class="mt-3 text-secondary fw-light">1050 грамм, 30 кусочков</h5>
                <hr>
            </div>
            <div class="d-flex flex-row justify-content-between w-100">
                <p class="mt-2 ms-2 fw-bold fs-4">1500 грн.</p>
                <button class="btn btn-warning m-2 buy-button">Хочу!</button>
            </div>
        </div>
        <div class="product-card d-flex flex-column justify-content-center align-items-center ms-5">
            <div class="product-image">
                <img src="{% static 'main/images/product-card.png' %}" alt="">
            </div>
            <div>
                <h3 class="fw-bold">Саломон сет</h3>
                <h5 class="mt-3 text-secondary fw-light">1050 грамм, 30 кусочков</h5>
                <hr>
            </div>
            <div class="d-flex flex-row justify-content-between w-100">
                <p class="mt-2 ms-2 fw-bold fs-4">1500 грн.</p>
                <button class="btn btn-warning m-2 buy-button">Хочу!</button>
            </div>
        </div>
        <div class="product-card d-flex flex-column justify-content-center align-items-center ms-5">
            <div class="product-image">
                <img src="{% static 'main/images/product-card.png' %}" alt="">
            </div>
            <div>
                <h3 class="fw-bold">Саломон сет</h3>
                <h5 class="mt-3 text-secondary fw-light">1050 грамм, 30 кусочков</h5>
                <hr>
            </div>
            <div class="d-flex flex-row justify-content-between w-100">
                <p class="mt-2 ms-2 fw-bold fs-4">1500 грн.</p>
                <button class="btn btn-warning m-2 buy-button">Хочу!</button>
            </div>
        </div>
</section>

{% endblock %}